<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>profile</title>
</head>
<body>
    <h1>Профиль пользователя</h1>
        <div class="info-item">Имя: {{username}}</div>
        <div class="info-item">Password: {{password}}</div>
        <div class="info-item">Email: {{login}}</div>
        <div class="info-item">Phone: {{phone_number}}</div>
    <form action="/cookie" method="GET">
    </form>
</body>
</html>